.about__title,
.about__subtitle {
  text-align: center;
  margin-bottom: 8px;
  color: var(--logo-color);
}

.about__item {
  margin-bottom: 8px;
}

.about__title {
  font-size: 30px;
}

.about__sublist {
  list-style: inside;
}
