.solutions {
  background-color: var(--logo-color);
  border-radius: 4px;
}

.solutions__title {
  text-align: center;
  text-transform: uppercase;
  font-size: 30px;
  margin-bottom: 12px;
  color: var(--accent-color);

  @media screen and (min-width: 1280px) {
    font-size: 48px;
    margin-bottom: 24px;
  }
}

.solutions__item {
  background-color: var(--accent-color);
  margin-bottom: 12px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  border-radius: 4px;
  padding: 12px;

  @media screen and (min-width: 1280px) {
    padding-bottom: 24px;
    margin-bottom: 24px;
  }
}

.solutions__icons {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70px;
}

.solutions__icon {
  fill: none;
  stroke: var(--text-color);
}

.solutions__subtitle {
  font-weight: 700;
  font-size: 24px;
  margin-bottom: 12px;

  @media screen and (min-width: 1280px) {
    font-size: 28px;
    margin-bottom: 24px;
  }
}

.solutions__wrapper {
  @media screen and (max-width: 767px) {
    display: none;
  }

  @media screen and (min-width: 768px) {
    display: flex;
    gap: 24px;
  }
}

.solutions__content {
  padding: 4px;

  @media screen and (min-width: 768px) {
    width: calc((100% - 24px) / 2);
    padding: 12px;
  }

  @media screen and (min-width: 1280px) {
    padding: 24px;
  }
}

.solutions__content--title {
  margin-bottom: 12px;

  @media screen and (min-width: 1280px) {
    font-size: 22px;
  }
}

.solutions__text {
  margin-bottom: 12px;
  list-style: inside;
  text-align: start;

  @media screen and (min-width: 1280px) {
    font-size: 20px;
  }
}

.solutions__btn {
  padding: 10px 32px;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 8px;
  font-family: inherit;
  color: var(--accent-color);
  background-color: var(--logo-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.03em;
  border-width: 0;
  box-shadow: 4px 4px 4px 2px rgba(0, 0, 0, 0.75);
  border-radius: 4px;
  transition: background-color 150ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    background-color: var(--accent-color);
    color: var(--logo-color);
  }

  @media screen and (min-width: 1280px) {
    font-size: 22px;
  }
}

.read-more {
  background-color: transparent;
  margin-bottom: 18px;
  font-size: 18px;
  text-decoration: underline;
  text-underline-position: under;

  &:hover,
  &:focus {
    color: var(--logo-color);
  }
}
