body {
  background-color: var(--background-color);
  color: var(--text-color);
  font-family: 'Nunito', sans-serif;
  line-height: 1.3;
  padding-top: 132px;
  position: relative;
  // font-size: var(--primary-font-size);
}
