:root {
  --text-color: #2f2e33;
  --background-color: #ececea;
  --logo-color: #0d5a8f;
  --accent-color: #ffffff;
  // --hover-btn-color: #188ce8;
  // --footer-address-color: rgba(255, 255, 255, 0.6);
  // --footer-icons-color: rgba(255, 255, 255, 0.1);
  // --icons-color: #afb1b8;
  // --primary-font-size: 14px;
  // --secondary-font-size: 16px;
  // --projects-list-gap: 30px;
  // --project-items: 3;
  // --features-items: 4;
  // --clients-items: 6;
}
